.body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9f9;
  color: #222;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 900px;
 width: 25%;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #bababc;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 10px;
  
}


.profile {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.profile_image img {
  width: 200px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #333;
}

.profile_info {
  flex: 1;
}

.profile_name {
  margin: 0;
  font-size: 2rem;
  color: #1a1a1a;
}

.profile_title {
  color: #666;
  font-style: italic;
  margin-top: 0.5rem;
}

.profile_description {
  margin-top: 1rem;
  line-height: 1.5;
}

.main-info {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-top: 2rem;
}

.container_info {
  flex: 1;
  background-color: gray;
  color: black;
  border-radius: 8px;
}


.container-exp {
  flex: 2;
  background-color: gray;
  color: black;
  border-radius: 8px;
}